- @companies.order("name asc").order("priority desc").each do |company|
  - if not params[:filterrific].present?
    - if company.company_categories.include? params[:category_id].to_s
      = link_to company do
        .company-card
          = image_tag(company.logo.url)
          .company-card__content
            %strong{style: "margin-bottom: 5px"}= company.name
            %br
            %small= company.description.slice(0, 40) + "..."
          .company-card__favorite
            - if current_user.present?
              - if not current_user.favorites.where(:company_id => company.id).any?
                %img{src: "https://icongr.am/entypo/heart-outlined.svg?size=30&color=000000"}
              - else
                %img{src: "https://icongr.am/entypo/heart.svg?size=30&color=e63939"}

      %hr{style: "width: 100%"}
  - else
    - if company.company_categories.include? params[:filterrific][:category_id].to_s
      = link_to company do
        .company-card
          = image_tag(company.logo.url)
          .company-card__content
            %strong{style: "margin-bottom: 5px"}= company.name
            %br
            %small= company.description.slice(0, 40) + "..."
          .company-card__favorite
            - if current_user.present?
              - if not current_user.favorites.where(:company_id => company.id).any?
                %img{src: "https://icongr.am/entypo/heart-outlined.svg?size=30&color=000000"}
              - else
                %img{src: "https://icongr.am/entypo/heart.svg?size=30&color=e63939"}

      %hr{style: "width: 100%"}
