.section
  .section__content.text-center
    -# %p#notice= notice
    .category-card.center
      .category-card__icon{style: "background-color: #{@category.color}"}
        %img{src: "#{@category.icon}"}
    %h3= "Listando " + @category.name + " em " + @city.name

    .fancy-form
      %input{type: "text", placeholder: "Procure por uma palavra chave...", style: "padding-right: 0; width: 96%;"}

    - @companies.order("priority desc").each do |company|
      - if company.company_categories.include? params[:category_id]
        .company-card
          .company-card__picture
            .company-background
            %img{src: "#{company.picture.url}"}
          .company-card__content
            %h3= company.name
            %small= company.description.slice(0, 60) + "..."
        %br
