- content_for :navbar_links do
  %div
    - if params[:filterrific].present?
      = link_to categories_url(city_id: params[:filterrific][:city_id]) do
        %img{src: "https://icongr.am/clarity/arrow.svg?size=30&color=ffffff", style: "transform: rotate(-90deg)"}
    - else
      = link_to categories_url(city_id: params[:city_id]) do
        %img{src: "https://icongr.am/clarity/arrow.svg?size=30&color=ffffff", style: "transform: rotate(-90deg)"}
  %div
    = link_to favorites_path(category_id: params[:category_id], city_id: params[:city_id]) do
      %img{src: "https://icongr.am/entypo/heart.svg?size=30&color=ffffff"}
%br
%br

.section
  .section__content.text-center
    .category-card.center
      .category-card__icon{style: "background-color: #{@category.color}"}
        %img{src: "#{@category.icon}"}
    %h3= "Listando " + @category.name + " em " + @city.name

    = form_for_filterrific @filterrific, html: { class: "fancy-form" } do |f|
      .fancy-form--inline
        %div
          = f.text_field(:search_query, class: 'filterrific-periodically-observed fancy-form__input', placeholder: 'Buscar', style: "display: inline-block; width: 72%; border-radius: 5px")
          = f.text_field(:city_id, value: params[:city_id], style: "display: none") if params[:city_id].present?
          = f.text_field(:category_id, value: params[:category_id], style: "display: none") if params[:category_id].present?
          = f.text_field(:city_id, value: params[:filterrific][:city_id], style: "display: none") if params[:filterrific].present?
          = f.text_field(:category_id, value: params[:filterrific][:category_id], style: "display: none") if params[:filterrific].present?
          %button.button.button--green{type: "submit", style: "display: inline-block; padding: 10px 13px; background-color: green"} Filtrar

    = render(partial: 'companies/list', locals: { companies: @companies })
