.company
  .company__content{style: "background-image: url(#{@company.picture.url})"}
    .company__profile
      = image_tag(@company.logo.url)
      %strong= @company.name
    = render "favorite_button", company: @company

.slide
  .slide__content
    - @company.company_pictures.each do |picture|
      = image_tag(picture.picture.url, class: "company_picture")

.section
  .section__content
    %h2{style: "margin-bottom: 0"} Descrição
    %hr{style: "width: 100%; border-size: 2px;"}
    = @company.description

    %br

    %h2{style: "margin-bottom: 0"} Informações e contato
    %hr{style: "width: 100%; border-size: 2px;"}
    - @company.contact_infos.each do |inf|
      .contact-info
        %img{src: "#{inf.icon}"}
        %strong= inf.name + ": "
        %text= inf.contact
        %a{:href => "#", "data-clipboard-text" => "#{inf.contact}", style: "margin-left: 10px; display: flex"}
          %img.copy{src: "https://icongr.am/feather/copy.svg?size=16&color=000000"}

    %br

    - if @company.address.present?
      %h2{style: "margin-bottom: 0"} Endereço e localização
      %hr{style: "width: 100%; border-size: 2px;"}
      %text= "Rua: " + @company.address.street
      %text= "Bairro: " + @company.address.neighbohood
      %text= "Cidade: " + @company.address.city
      %text= "Número: " + @company.address.number
      %text= "Complemento: " + @company.address.complement
      %text= "CEP: " + @company.address.zip_code

      %br

      %a#link{:href => "geo:?q=#{@company.address.street + ', número ' + @company.address.number + ', bairro ' + @company.address.neighbohood + ', ' + @company.address.city}"}
        #map

      :javascript
        // Initialize and add the map
        function initMap() {
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center: { lat: -34.397, lng: 150.644 }
          });
          const geocoder = new google.maps.Geocoder();
          geocodeAddress(geocoder, map);
        }

        function geocodeAddress(geocoder, resultsMap) {
          const address = "#{@company.address.street + ', número ' + @company.address.number + ', bairro ' + @company.address.neighbohood + ', ' + @company.address.city}";
          geocoder.geocode({ address: address }, (results, status) => {
            if (status === "OK") {
              resultsMap.setCenter(results[0].geometry.location);
              new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
              });
            } else {
              alert("O Aplicativo falhou ao tentar carregar a localização deste estabelecimento pelo seguinte motivo: " + status);
            }
          });
        }

        function clipboard(text) {
          var copyText = text;

          /* Select the text field */
          copyText.select();
          copyText.setSelectionRange(0, 99999); /*For mobile devices*/

          /* Copy the text inside the text field */
          document.execCommand("copy");
        }


.social-media
  .social-media__content
    - if @company.facebook.present?
      %a{:href => "#{@company.facebook}", target: "_blank"}
        %img{src: "https://icongr.am/fontawesome/facebook-square.svg?size=20&color=292521"}
    - if @company.instagram.present?
      %a{:href => "#{@company.instagram}", target: "_blank"}
        %img{src: "https://icongr.am/fontawesome/instagram.svg?size=20&color=292521"}
    - if @company.whatsapp.present?
      %a{:href => "https://api.whatsapp.com/send?phone=#{@company.whatsapp}&text=Ol%C3%A1!%20Vim%20pelo%20app%20do%20Click%20Agreste!", target: "_blank"}
        %img{src: "https://icongr.am/fontawesome/whatsapp.svg?size=20&color=292521"}
