.section
  .section__content
    %h2 Entrar
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "fancy-form" }) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field{style: "display: flex; align-items: center"}
          = f.check_box :remember_me, style: "width: unset; margin-right: 10px"
          %label{for: "remember_me"} Lembrar meu login
      .actions
        = f.submit "Entrar", class: "button button--orange", style: "background-color: #f0a440 !important"

    %br
    %br

    %p
      Ainda não tem conta?
      %a{:href => new_user_registration_path, style: "color: blue"} clique aqui
