= simple_form_for(@city, html: { class: "fancy-form" }) do |f|
  - if city.errors.any?
    #error_explanation
      %h2
        = pluralize(city.errors.count, "error")
        prohibited this city from being saved:
      %ul
        - city.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :name, label: "Nome"
  .field
    = f.input :picture, label: "Foto"
  .actions
    %button.button.button--orange{type: "submit"} salvar
    = link_to @city, method: :delete, "data-confirm" => "Tem certeza que quer excluir esta cidade?" do
      %button.button.button--red{type: "button"} Excluir
