= simple_form_for(@category, html: { class: "fancy-form" }) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(category.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - category.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :name, label: "Nome"
  .field
    = f.input :color, label: "Cor", as: :color
    = f.input :icon, label: "Link do ícone (tamanho 35, cor branca)"

    %a{:href => "https://icongr.am", target: "_blank"}
      %small Clique aqui para ir para a página de ícones
    %br
    %br

    = f.input :city_id, as: :select, collection: City.all, label_method: :name, label: "Cidade"
  %br
  .actions  	
    %button.button.button--orange{type: "submit"} salvar
    = link_to @category, method: :delete, "data-confirm" => "Tem certeza que quer excluir esta categoria?" do
      %button.button.button--red{type: "button"} Excluir
