-# .city-card.city-card--selected{style: "background-image: url(#{@city.picture.url})"}
  .city-card__content
    %h1= @city.name

.section
  .section__content.text-center
    -# %p#notice= notice
    %h1.title{style: "margin-bottom: 0"}= @city.name
    %h3{style: "font-weight: normal; margin-top: 0"} Escolha uma categoria

    %br

    - @categories.each_slice(3) do |categories|
      .columns.columns--small{style: "display: flex; justify-content: space-evenly;"}
        - categories.each do |category|
          .column.column--sm-3
            = link_to companies_path(city_id: params[:city_id], category_id: category.id) do
              .category-card
                .category-card__icon{style: "background-color: #{category.color}; background-image: linear-gradient(0deg, #0000002e, transparent);"}
                  %img{src: "#{category.icon}"}
                .category-card__content
                  %strong= category.name
      %br
