- content_for :navbar_links do
  %div
    = link_to cities_url do
      %img{src: "https://icongr.am/clarity/arrow.svg?size=30&color=ffffff", style: "transform: rotate(-90deg)"}
  %div
    = link_to favorites_path(city_id: params[:city_id]) do
      %img{src: "https://icongr.am/entypo/heart.svg?size=30&color=ffffff"}
%br
%br

.section
  .section__content.text-center
    -# %p#notice= notice
    %h1.title{style: "margin-bottom: 0"}= @city.name
    %h3{style: "font-weight: normal; margin-top: 0"} Escolha uma categoria

    %br

    - @categories.each_slice(3) do |categories|
      .columns.columns--small{style: "display: flex; justify-content: space-evenly;"}
        - categories.each do |category|
          .column.column--sm-3
            = link_to companies_path(city_id: params[:city_id], category_id: category.id) do
              .category-card
                .category-card__icon{style: "background-color: #{category.color}"}
                  %img{src: "#{category.icon}"}
                .category-card__content
                  %strong= category.name
      %br
