!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Clickagreste

    = csrf_meta_tags
    = csp_meta_tag

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    -# jQuery (including this CDN because for some reason, the jQuery added with yarn on webpacker doesn't respond properly)
    %script{:crossorigin => "anonymous", :integrity => "sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=", :src => "https://code.jquery.com/jquery-3.5.0.min.js"}

    -# Clipboard.js
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"}

    -# Fonts
    %link{:href => "https://fonts.googleapis.com/css2?family=Chilanka&display=swap", :rel => "stylesheet"}/

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert

    .navbar
      .navbar__content
        .navbar__logo
          %a{:href => "/"}
            = image_tag('icon.png', style: "max-width: 50px;")
          %strong.nav-title Click Agreste
        %img{src: "https://icongr.am/feather/more-vertical.svg?size=30&color=ffffff", onclick: "$('.navbar-options').toggle()"}
      %ul.navbar-options
        %li
          %img{src: "https://icongr.am/feather/info.svg?size=20&color=000000"}
          = link_to "Sobre o app", about_page_url
        - if current_user.present?
          %li
            %img{src: "https://icongr.am/feather/user.svg?size=20&color=000000"}
            = link_to "Meu perfil", edit_user_registration_path(current_user)
      .navbar__links
        - if current_user.admin?
          %div
            = link_to manage_cities_url do
              %img{src: "https://icongr.am/feather/globe.svg?size=30&color=ffffff"}
          %div
            = link_to categories_url do
              %img{src: "https://icongr.am/feather/list.svg?size=30&color=ffffff"}
          %div
            = link_to companies_url do
              %img{src: "https://icongr.am/feather/briefcase.svg?size=30&color=ffffff"}
        = yield(:navbar_links)

    .content
      = yield
